<h2 style="color:darkblue;">Bienvenidos al servidor express - Comisión 39760</h2> <br>
<h2>Usuarios</h2>
  
{{#if users.isValid}}
    <div class="table-responsive tabla">
        <table class="table table-primary table-striped">
            <thead>
                <tr>
                    <th scope="col"> Apellido y Nombre </th>
                    <th scope="col"> Role </th>
                    <th scope="col"> Email </th>
                    <th scope="col"> Last Connection </th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                    <tr>
                        <th scope="row"> {{this.name}} </th>
                        <th scope="row"> {{this.role}}</th>
                        <th scope="row"> {{this.email}} </th>
                        <th scope="row"> {{this.last_connection}}</th>
                        {{!-- <button class="btn btn-primary" id="{{this._id}}" onclick="procesoId(this)">Comprar</button> --}}
                    </tr>
                {{/each}}
            </tbody>
        </table>    
    </div>
{{else}}    
    <h2 style="color: chocolate;">No se encontraron Usuarios </h2>
{{/if}}
<br/>

{{!-- <button id="viewProduct" class="btn btn-secondary"> Comprar Productos</button> --}}
<button id="goHome" class="btn btn-secondary"> Ir al Home</button>

<script src="/js/index.js"></script>